@import '_variables.scss';

#testimonials {
    background-color: $accent;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    .slide {
        max-width: 60%;
        margin: 0 auto;

        @media(max-width: 1023px) {
            max-width: 80%;
        }
    }

    > * {
        text-align: center;
        color: $white;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: bold;

        .signature {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: normal;
            margin-top: 2rem;
        }
    }

    .dots {
        list-style: none;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            display: inline-block;
            font-size: 0.9rem;
            margin: 0.3rem;

            button { 
                color: $white;
                background-color: transparent;
                border: none;
            }
            
            &.active {
                font-size: 1.3rem;
            }
        }

    }
}